body{
    width:100%;
    height:100%;
    margin:auto;
}

head{
    width:100%;
    height:200px;
    margin:auto;
    background-color:black;

}
/*
//position:
//border:
//height: 100%;
//width: 100%;
//margin: auto;
//margin-left:
//margin-right:
//margin-top:
//margin-bottom:
//text-align:
//font-size: 0.8vw;
//padding: 12px 40px;
//z-index:
//border-radius:
//display:block:
//visibility:
//text-shadow:
//font-family:
//vertical-align: center;
//font-style: italic;
//background-color: rgb(x,x,x);
//border-color: ;
//color:
//text-decoration: none;
//float;
*/